*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: -webkit-linear-gradient(0deg, rgb(70, 109, 70),rgb(109, 122, 167),rgb(108, 88, 134));
    display: flex;
    justify-content: center;
    align-items: center;
}   
.login{
    background-color: #ccc;
    padding: 50px;
    width: 50%;
    border-radius: 10px;
    margin-top: 8%;
}
input{
    background-color: #ccc;
    border: none;
    padding: 10px;
    padding-top: 20px;
    border-bottom: 1px solid white;
    margin-top: 2px;
    width: 100%;
    border-radius: 10px;
    color: white;
}
input:hover{
    background-color: rgb(174, 145, 201);
    transition: ease-in-out 1s;
}
.submit{
    background-color: indigo;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;
    margin-top: 10px;
}
a{
    text-decoration: none
}
form{
    margin-left: 10px;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
h1{
  
    text-align: center;
}